[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule ".vim/dein"]
	path = .vim/dein
	url = https://github.com/Shougo/dein.vim.git
